[submodule "libs/TauUtils"]
	path = libs/TauUtils
	url = https://github.com/hyfloac/TauUtils
[submodule "libs/VulkanMemoryAllocator"]
	path = libs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
