[submodule "libs/TauUtils"]
	path = libs/TauUtils
	url = https://github.com/hyfloac/TauUtils
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm

[submodule "libs/VulkanMemoryAllocator"]
	path = libs/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
